//fonts
$font-xxl: 4rem;
$font-xl: 3.5rem;
$font-lg: 2.8rem;
$font-md: 2rem;
$font-sm: 1.6rem;
$font-xs: 1rem;

//colors, borders
$danger: #ff0000d5;

$input-border: 1px solid #5576a6;
$input-border-focus: 2px solid #4e84d3;

$note-controls-border: 2px solid #d0d0d041;

//background
$bg-note: #f6be63;
$bg-note-hover: #d5a350;
$bg-note-add: #bbbbbb;
$bg-note-add-hover: #d3d3d3;
$bg-btn: #3277e3;
$bg-btn-hover: #4f89e5;
$bg-btn-danger: #ee4242;
$bg-btn-danger-hover: #ef5454;
$bg-btn-warning: #fdbb25;
$bg-btn-warning-hover: #f3b833;

$bg-note-contols: #a6a6a670;
$bg-note-contols-hover: rgba(166, 166, 166, 0.45);

//spacings
$spacer: 15px;

//sizes
$container-xl: 1450px;
$note-w-lg: 250px;
$note-h-lg: 300px;
$checkbox-width: 20px;
$checkbox-height: 20px;

$form-elements-height: 55px;

$todo-container-height: calc(100vh - $form-elements-height * 3 - $spacer * 10);
$todo-controls-width: 100px;

//shadows
$basic-shadow: 5px 5px 10px #bbbaba;
